/* 
    Document   : extjs_overwrite
    Created on : 24.07.2012, 14:39:28
    Author     : sabinesteinkamp
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

